<% if user_signed_in? %>
  <div align="right">
   <p><strong style="color: red;">Welcome! <%= current_user.email %></strong></p>
    <!--<strong style="color: red;">Nickname: <%= current_user.nickname %></strong>-->
  </div>
<% else %>

<% end %>

  <div class="container" align="center">
    <h1>Display All Feedbacks</h1><br>

    <% @feedbacks.each do |feedback| %>

      <div class="container" align="center">
        <div class="well profile" style="background-color: #F8F8FF;">
          <div class="row">
            <div class="span4 offset1" align="left">
              <h3><%= link_to feedback.title,feedback %></h3>
            </div>
            <div class="span2" align="right">
              <h5><%= feedback.created_at.strftime("%-d %b %Y %l:%M%P") %></h5>
            </div>
          </div><br>
          <div class="row">
            <div class="span3 offset1" align="left">
              <i class="icon-map-marker icon-2x"></i><strong><%= feedback.detailed_location %></strong> | <strong><%= feedback.address %></strong>
            </div>
          </div>
          <div class="row">
            <div class="span6 offset1">              
              <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item"></div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
              <div class="span4">
                <div class="col-xs-12 col-sm-4 emphasis">                    
                  <i class="icon-hand-up icon-3x"></i><big><strong> 0 Votes</strong></big>
                </div>
              </div>  
              <div class="span4"> 
                <div class="col-sm-4 emphasis">                  
                  <i class="icon-comments icon-3x"></i><big><strong> 0 Comments</strong></big>
                </div>
              </div>
            </div>
        </div>                
      </div>

    <% end %>
  </div>



